<div class="layui-tab layui-tab-brief" lay-filter="<?php echo $__PRE__?>tab">
    <ul class="layui-tab-title">
        <li class="layui-this">公告配置</li>
        <li>微信配置</li>
        <li>支付宝配置</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">Meta</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="请输入Meta部分要填写的内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">2</div>
      <div class="layui-tab-item">3</div>

    </div>
</div>

<script>

    form.render();
</script>
