<div class="layui-tab layui-tab-brief" lay-filter="<?php echo $__PRE__?>tab">

    <ul class="layui-tab-title">
        <?php
        $tabs = _CONF('config_tabs');
        foreach ($tabs as $k=>$v){
            echo '<li lay-id="'.$k.'">'.$v.'</li>';
        }
        ?>
    </ul>
    <div class="layui-tab-content">
        <?php
        foreach ($tabs as $k=>$v){
            echo '<div  class="layui-tab-item">';
            if(isset($_data[$k])){
                echo $this->Config->form_fmt($_data[$k]);
            }
            echo '</div>';
        }
        ?>
    </div>

</div>

<script>
    element.tabChange('<?php echo $__PRE__?>tab', 'main');
    form.render();

</script>